/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$colorGris: #0f0f0f7c;
$colorBlanco:#fff;
$turquesa: #1bac91;
$darkturque: #062822;
          